<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mediasleeptimer">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID "></uses-permission>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MediaSleepTimer"
        tools:targetApi="31">
        <service
            android:name=".Alarmservice"
            android:exported="true"
            android:stopWithTask="false">
        </service>
        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".DeviceAdmin"
            android:permission="android.permission.BIND_DEVICE_ADMIN"
            android:exported="true">
            <meta-data
                android:name= "android.app.device_admin"
                android:resource= "@xml/device_admin" />
            <intent-filter>
                <action android:name= "android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"

            android:value="ca-app-pub-2351447811396940~7680455290"/>

    </application>

</manifest>